@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 147 60% 97%;
    --foreground: 224 71.4% 4.1%;
    --card: 147 60% 97%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 147 60% 97%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 77 100% 35%;
    --primary-foreground: 77 0% 100%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 65 100% 40%;
    --accent-foreground: 65 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 77 100% 35%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 220 20% 10%;
    --foreground: 210 40% 98%;
    --card: 220 20% 10%;
    --card-foreground: 210 40% 98%;
    --popover: 220 20% 10%;
    --popover-foreground: 210 40% 98%;
    --primary: 77 100% 35%;
    --primary-foreground: 77 0% 100%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215.4 16.3% 56.9%;
    --accent: 65 100% 40%;
    --accent-foreground: 65 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 77 100% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
