{% extends 'index.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>welcome to KT</h1>
    <h2>welcome to KT</h2>
    <a href="https://www.youtube.com/">youtube</a>
    <img src="C:\Users\hp\Pictures\ganesh 2.jpg"alt="shiva"><br>
    <img src="C:dhoni.webp"alt="dhoni"><br>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnFObePmz9WyMjsndAXUvbuSro2Nj5lZpQ53KaiSVw7SVwFYI5TfdixLgFQDCt8_tNdQYbIn6jCIfRGXVnFQ29DZQACQuPyFLBw73_Qw&s=10"</img>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1mzHRIJjOYa4dBygFc2UJKU7ca_avRkq19XWPneFHVQEbslv5MSdHLegGLqPEGBZH1lLrMS9Ptp-VGy8UTnHXxYXYGl4C3gnh0K-n3A&s=10"</img>
    <pre>Twinkle, twinkle, little star,<br>
        How I wonder what you are!<br>
        Up above the world so high,<br>
        Like a diamond in the sky.</pre>
    
</body>
{% endblock %}